.header {
    background-color: var(--color-m1);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    position: sticky;
    top: 0;
    z-index: 1;
}

.header__brand {
    color: var(--color-t1);
    font-size: 1.5rem;
    padding: 0 1.5rem;
    margin: 0;
}

.header__navigation {
    display: flex;
    padding: 0; 
    margin: 0;
    list-style: none;
    
    align-items: center;
    justify-content: center;
    height: 48px;
}

.header__navigation-pic {
	max-width: 32px;
	max-height: 32px;
}

.header__navigation-item {
	height: 48px;
	
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    z-index: 1;
    font-size: 1.15rem;
    color: var(--color-t1);
    text-decoration: none;
    transition: all 200ms ease; 
	white-space: nowrap;
}

.header__navigation-item::before {
    position: absolute; 
    content: "";
    background-color: var(--color-m5);
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 200ms ease;
}

.header__navigation-item:hover {
    color: var(--color-t6);
}

.header__navigation-item:hover::before {
    height: 100%;
}
