@import url(normalize.css);
@import url(header.css);
@import url(fonts/stylesheet.css);
@import url(footer.css);
@import url(info-box.css);
@import url(paginator.css);
@import url(table.css);

.light-theme {
	--color-m1: #F0614F;
    --color-m2: #c56e62;
    --color-m3: #f5f0f0;
    --color-m4: #ffffff;
    --color-m5: #463A38;
    --color-m6: #332320;

    --color-t1: #000000;
    --color-t2: #222222;
    --color-t3: #555555;
    --color-t4: #777777;
    --color-t5: #aaaaaa;
    --color-t6: #ffffff;
}

.dark-theme {
	--color-m1: #F0614F;
    --color-m2: #c56e62;
    --color-m3: #555555;
    --color-m4: #777777;
    --color-m5: #463A38;
    --color-m6: #332320;

    --color-t1: #000000;
    --color-t2: #222222;
    --color-t3: #555555;
    --color-t4: #777777;
    --color-t5: #aaaaaa;
    --color-t6: #ffffff;
}

:root {
    --default-width: min(1400px, 100vw);
    --shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    --color-m1: #F0614F;
    --color-m2: #c56e62;
    --color-m3: #f5f0f0;
    --color-m4: #ffffff;
    --color-m5: #463A38;
    --color-m6: #332320;

    --color-t1: #000000;
    --color-t2: #222222;
    --color-t3: #555555;
    --color-t4: #777777;
    --color-t5: #aaaaaa;
    --color-t6: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-m3);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    gap: 1rem;
    position: absolute;
}

main {
    text-align: justify;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    color: var(--color-m1);
}

form [type=text], form input[type=password], form textarea {
	width: 100%;
	border: 1px solid var(--color-t3);
}

form textarea {
	resize: vertical;
}

form label {
	text-align: left;
	display: inline-block;
}

.underline {
	text-decoration: underline;
}

.fcenter {
	min-width: 100vw;
	min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.self-end {
	align-self: end;
}

.center {
	width: 100%;
	text-align: center;
}

.accent {
    font-weight: bold;
    font-size: 1.25rem;
}

.float-right {
	float: right;
}

.medium {
    font-size: 1.15rem;
}

.content {
    padding: 1.5rem;
    overflow: scroll;
}

.card {
    background-color: var(--color-m4);
    box-shadow: var(--shadow);
    transition: all 200ms ease;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: .5rem;
}

.box {
    box-shadow: var(--shadow);
    padding: calc(1.5rem - 4px);
    border: var(--color-m1) solid 4px;
}

.container {
    width: 100vw;
    padding-inline: max(calc((100vw - var(--default-width)) / 2), 1rem);
}

.greed {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.c {
    flex-grow: 1;
    width: 20%;
}

.c2 {
    flex-grow: 1;
    width: 40%;
}

.button {
    background-color: var(--color-t6);
	display: inline-block;
	cursor: pointer;
    border: var(--color-m1) solid 2px;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    transition: all 200ms ease;
    color: var(--color-m1);
}

.button:hover {
	background-color: var(--color-m1);
    color: var(--color-t6);
}

.button-cancel {
    border-color: var(--color-m6);
    color: var(--color-t1);
}

.button-cancel:hover {
    background-color: var(--color-m5);
}

.free-bottom {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6, li::marker {
    color: var(--color-m1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-t5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-t6);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

.text-ico {
	width: 1.3em;
	height: 1.3em;
}

.money {
	font-family: monospace;
}