<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="index.html :: head"></head>

<body>
  <div th:replace="~{ index.html :: header }"></div>

  <main class="container">
  
    <section class="card content">
        
        <a onclick="history.back()" href="#">Go back</a>

        <a th:if="${parent == null}" href="/categories/new" class="button">Create new category</a>
        
        <p th:if="${categories.isEmpty()}" class="medium center">
            It's empty here for now. Click the button and create and create a new category to get started.
        </p>
        
        <table class="table" th:if="${! categories.isEmpty()}">
        <thead>
          <tr>
            <th>Title</th>
            <th>Last 30 days</th>
            <th>Link to</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="category: ${categories}">
                <td >
                    <span th:text="${category.title}"></span>
                    <a th:href="'/categories/' + ${category.id} + '/edit'" href="#">
                        <img class="text-ico" alt="Edit" th:src="@{/img/pen32.png}" src="#">
                    </a>
                </td>
                <td class="right money">
                    <div th:each="item : ${category.last30Days}" 
                        th:text="${item.value} + ' ' + ${item.currency.toUpperCase()}">
                    </div>
                    <a th:href="@{ /transfers/statistics( categoryId=${category.id} ) }">More...</a>
                </td>
                <td>
                   <div th:each="wallet : ${category.wallets}">
                        <a 
                            th:href="'/wallets/' + ${wallet.id} + '/edit'" 
                            th:text="${wallet.title}">LINK</a>
                   </div>
                </td>
            </tr>
        </tbody>
      </table>
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

</body>

</html>