<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{ index.html :: head }"></head>

<body>
  <div th:replace="~{ index.html :: header }"></div>

  <main class="container">
    <section class="card content" th:object="${category}">
        
        <a onclick="history.back()" href="#">Go back</a>
    
        <h3 th:if="${category.id == null}">Create new category</h3>
        <h3 th:if="${category.id != null}" th:text="'Update category &quot;' + ${category.title} + '&quot;'">UPDATE CATEGORY</h3>
        <form method="POST">
            <label for="category_title">Title</label> <br />
            <input type="text" 
                    name="title" 
                    id="category_title"
                    required="required" 
                    th:value="${category.title}">
            <br />
            <br />
            
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            
            <input type="submit" class="button" value="Send" />
            <a href="/categories" class="button button-cancel">Cancel</a>
        </form>
    </section>
    
    <section class="card content" th:if="${wallets != null}">
        <h3>Wallets</h3>
        
        <p>
            List of wallets for future transfers where this category is displayed. 
            When changing the list, old transactions are not affected.
        </p>
        
        <p th:if="${wallets.isEmpty()}">
           <a href="/wallets/new">Create a wallet</a> first to come back here later.
        </p>
        
        <form th:if="${ !wallets.isEmpty()}" method="POST" th:action="'/categories/' + ${category.id} + '/wallets'">
            <div th:each="wallet : ${wallets}">
                <input type="checkbox" 
                    th:id="${wallet.walletId}" 
                    name="selected" 
                    th:value="${wallet.walletId}" 
                    th:checked="${wallet.selected}"
                    />
                <label th:for="${wallet.walletId}" th:text="${wallet.walletTitle}">
                    WALLET_TITLE
                </label>
            </div>
            
            <br />
            <br />
            
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" class="button" value="Set" />
        </form>
    </section>
    
    <section th:if="${category.id != null}" class="info-box">
        <h3 class="info-box__header">Danger zone</h3>
        <form th:method="delete">
            <p>
                Irreversible operation. All operations and settings will be deleted permanently. 
                <span class="underline">
                    All related transactions will lose their category, but will be saved in the system.
                </span>
            </p>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" class="button button-cancel" value="Delete">
        </form>
    </section>
    
  </main>

  <div th:replace="~{ index.html :: footer }"></div>
  
</body>

</html>