<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Categories</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" th:href="@{/style/styles.css}" href="/static/style/styles.css">
</head>

<body>
  <div th:replace="index.html :: header"></div>

  <main class="container">
    <section class="card content">
        <button th:if="${parent != null}" onclick="history.back()" class="button button-cancel">Go back</button>

        <a th:if="${parent != null}" th:href="'/categories/new?parentId=' + ${parent}" class="button">Create new</a>
        <a th:if="${parent == null}" href="/categories/new" class="button">Create new</a>
        
        <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Used in</th>
            <th>Link to</th>
            <th>Has transfers</th>
            <th>Settings</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="category: ${categories}">
                <td th:text="${category.title}">...</td>
                <td>
                   <div th:each="wallet : ${category.inWallets}">
                        <a 
                            th:href="'/transfers?walletId=' + ${wallet.id}" 
                            th:text="${wallet.title}">LINK</a>
                   </div>
                </td>
                <td>
                   <div th:each="wallet : ${category.wallets}">
                        <a 
                            th:href="'/wallets/' + ${wallet.id}" 
                            th:text="${wallet.title}">LINK</a>
                   </div>
                </td>
                <td th:text="${category.hasTransfers ? 'yes' : 'no'}">...</td>
                <td style="display: flex; gap: 1rem;">
                    
                    <a class="button" th:href="'/categories/' + ${category.id}" href="#">Edit</a>
                    
                    <form th:if="${!category.hasTransfers}" th:action="'/categories/' + ${category.id}" th:method="delete">
                            <input type="submit" class="button button-cancel" value="Delete">
                    </form>
                    
                </td>
            </tr>
        </tbody>
      </table>
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

  <script th:src="@{/js/script.js}" src="/static/js/script.js"></script>

</body>

</html>