<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{ index.html :: head }"></head>

<body>
  <div th:replace="~{ index.html :: header }"></div>

  <main class="container">
    <section class="card content">
       
        <a onclick="history.back()" href="#">Go back</a>
       
        <h3 th:text="'Wallet: ' + ${wallet.title}">TITLE</h3>
        <table>
            <tr th:each="value : ${wallet.values}" class="money">
                <td th:text="${value.currency.toUpperCase()}"></td>
                <td th:text="${value.value}" class="right"></td>
            </tr>
        </table>
    
        <a th:href="'/transfers/new?walletId=' + ${wallet.id}" class="button">Create new transfer</a>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Value</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="transfer : ${transfers}">
                    <td th:text="${#temporals.format(transfer.time, 'dd MMM yyyy HH:mm')}">...</td>
                    <td class="money right" th:text="${transfer.value} + ' ' + ${transfer.currencyCode.toUpperCase()}">...</td>
                    <td th:text="${transfer.categoryTitle}">...</td>
                    <td>
                        <a class="float-right" th:href="'/transfers/' + ${transfer.id}">
                            <img class="text-ico" alt="Edit" th:src="@{/img/pen32.png}">
                        </a>    
                        <span th:text="${transfer.description}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
      
        <th:block th:with="href = '/transfers?walletId=' + ${param.walletId}">
        	<div 
          		th:replace="~{ inc/pagination.html :: paginator(${pageNumber}, ${transfers.totalPages}, ${href}) }" >
        	</div>
        </th:block>
      
    </section>
  </main>

  <div th:replace="~{ index.html :: footer }"></div>

</body>

</html>