<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="index.html :: head"></head>

<body>
  <div th:replace="index.html :: header"></div>

  <main class="container">
    <section class="card content">
       
        <h3 th:text="'Wallet: ' + ${wallet.title}">TITLE</h3>
        <div th:each="value : ${wallet.values}" th:text="${value.value} + ' ' + ${value.currency.toUpperCase()}"></div>
    
        <a th:href="'/transfers/new?walletId=' + ${wallet.id}" class="button">Create new transfer</a>
        
        <table class="table">
        <thead>
          <tr>
            <th>Time</th>
            <th>Value</th>
            <th>Category</th>
            <th>Description</th>
            <th>Settings</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="transfer : ${transfers}">
                <td th:text="${#temporals.format(transfer.time, 'dd.MM.yyyy HH:mm')}">...</td>
                <td class="money right" th:text="${transfer.value} + ' ' + ${transfer.currencyCode.toUpperCase()}">...</td>
                <td th:text="${transfer.categoryTitle}">...</td>
                <td th:text="${transfer.description}">...</td>
                <td>
                    <a th:href="'/transfers/' + ${transfer.id}" class="button">Edit</a>
                    
                </td>
            </tr>
        </tbody>
      </table>
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

</body>

</html>