<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>New transfer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" th:href="@{/style/styles.css}" href="/static/style/styles.css">
</head>

<body>
  <div th:replace="index.html :: header"></div>

  <main class="container">
    <section class="card content">
        <h3 th:if="${transfer.id == null}">Create new transfer</h3>
        <h3 th:if="${transfer.id != null}">Update transfer</h3>
        <form method="POST" th:object="${transfer}">
            
            <label for="value">Value</label>
            <input type="text" 
                name="value" 
                pattern="^[\+-]?\d*(\.\d{0,2})?$" 
                id="value" 
                th:value="${transfer.value}"
                required/>
            
            <br />
            <br />
            
            <label for="category">Category:</label>
            <select id="categry" name="categoryId">
                <option th:each="category : ${categories}" 
                    th:value="${category.id}"
                    th:text="${category.title}"
                    th:selected="${transfer.categoryId == category.id}" >option</option>
            </select>
            
            <br />
            <br />
            
            <label for="description">Description</label>
            <input type="text" name="description" id="description" th:value="${transfer.description}"/>
            
            <br />
            <br />
            
            <label for="time">Time</label>
            <input type="datetime-local" name="time" id="time" th:value="${#temporals.format(transfer.time, 'yyyy-MM-dd HH:mm')}" value="2025-10-11T15:00"/>
            
            <br />
            <br />
            
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            
            <input type="submit" class="button" value="Send" />
            <button onclick="history.back()" class="button button-cancel">Cancel</button>
        </form>
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

  <script th:src="@{/js/script.js}" src="/static/js/script.js"></script>

</body>

</html>