<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="index.html :: head"></head>

<body>
  <div th:replace="index.html :: header"></div>

  <main class="container">
  
    <section class="card content" th:object="${wallet}">
        <h3 th:if="${wallet.id == null}">Create new wallet</h3>
        <h3 th:if="${wallet.id != null}">Update wallet</h3>
        <form method="POST">
            <label for="wallet_title">Title</label> <br />
            <input type="text" name="title" id="wallet_title" required="required" th:value="${wallet.title}">
            
            <br />
            <br />
            
            <label>Currencies:</label><br />
            
            <input 
                type="checkbox" 
                id="cbyn"
                value="byn" 
                name="currencyCodes" 
                th:checked="${ wallet.currencyCodes.contains('byn') }"/>
            <label for="cbyn">BYN</label>
            <br />
            
            <input 
                type="checkbox" 
                id="cusd" 
                value="usd" 
                name="currencyCodes"
                th:checked="${ wallet.currencyCodes.contains('usd') }"/>
            <label for="cusd">USD</label>
            <br />
            
            <input 
                type="checkbox" 
                id="ceur" 
                value="eur" 
                name="currencyCodes"
                th:checked="${ wallet.currencyCodes.contains('eur') }"/>
            <label for="ceur">EUR</label>
            <br />
            
            <br />
            <br />
            
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            
            <input th:if="${wallet.id == null}" type="submit" class="button" value="Create" />
            <input th:if="${wallet.id != null}" type="submit" class="button" value="Update" />
        </form>
        
    </section>
    
    <section th:if="${wallet.id != null}" class="card content">
        <h3>Categories</h3>
        
        <p>
            List of categories for future transfers. When changing the list, old transactions are not affected.
        </p>
        
        <p th:if="${categories.isEmpty()}">
           <a href="/categories/new">Create a category</a> first to come back here later.
        </p>
        
        <form method="POST" th:if="${!categories.isEmpty()}" th:action="'/wallets/' + ${wallet.id} + '/categories'">
            
            <div th:each="category : ${categories}">
                <input type="checkbox" 
                    th:id="${category.categoryId}" 
                    name="selected" 
                    th:value="${category.categoryId}" 
                    th:checked="${category.selected}"
                    />
                <label th:for="${category.categoryId}" th:text="${category.categoryTitle}">CATEGORY_TITLE</label>
            </div>
            
            <br />
            
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            
            <input type="submit" class="button" value="Set" />
            
        </form>
    </section>
    
    <section th:if="${wallet.id != null}" class="info-box">
        <h3 class="info-box__header">Danger zone</h3>
        <form th:action="'/wallets/' + ${wallet.id}" th:method="delete" th:if="${wallet.id != null}">
            <p>
                Irreversible operation. All operations and settings will be deleted permanently.
                <span class="underline">You will lose all related transactions.</span>
            </p>
            <input type="submit" class="button button-cancel" value="Delete Wallet">
        </form>
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

</body>

</html>