<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="index.html :: head"></head>

<body>
  <div th:replace="index.html :: header"></div>

  <main class="container">
  
    <section class="card content" th:object="${wallet}">
        <h3 th:if="${wallet.id == null}">Create new wallet</h3>
        <h3 th:if="${wallet.id != null}">Update wallet</h3>
        <form method="POST">
            <label for="wallet_title">Title</label> <br />
            <input type="text" name="title" id="wallet_title" required="required" th:value="${wallet.title}">
            
            <br />
            <br />
            
            <label for="wallet_currency">Currency</label> <br />
            
            <select id="currency" name="currency" th:value="${wallet.currency}">
                <option value="byn" th:selected="(${wallet.currency} == 'byn')">BYN</option>
                <option value="eur" th:selected="(${wallet.currency} == 'eur')">EUR</option>
                <option value="usd" th:selected="(${wallet.currency} == 'usd')">USD</option>
            </select>
            
            <br />
            <br />
            
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            
            <input th:if="${wallet.id == null}" type="submit" class="button" value="Create" />
            <input th:if="${wallet.id != null}" type="submit" class="button" value="Update" />
        </form>
        
    </section>
    
    <section th:if="${wallet.id != null}" class="card content">
        <h3>Categories</h3>
        <form method="POST" th:action="'/wallets/' + ${wallet.id} + '/categories'">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div th:each="category : ${categories}">
                <input type="checkbox" 
                    th:id="${category.categoryId}" 
                    name="selected" 
                    th:value="${category.categoryId}" 
                    th:checked="${category.selected}"
                    />
                <label th:for="${category.categoryId}" th:text="${category.categoryTitle}">CATEGORY_TITLE</label>
            </div>
            
            <br />
            
            <input type="submit" class="button" value="Send" />
        </form>
    </section>
    
    <section th:if="${wallet.id != null}" class="info-box">
        <h3 class="info-box__header">Danger zone</h3>
        <form th:action="'/wallets/' + ${wallet.id}" th:method="delete" th:if="${wallet.id != null}">
            <p>Irreversible operation. All operations and settings will be deleted permanently.</p>
            <input type="submit" class="button button-cancel" value="Delete Wallet">
        </form>
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

</body>

</html>