<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="index.html :: head"></head>

<body>
  <div th:replace="index.html :: header"></div>

  <main class="container">
  
    <section class="card content" th:if="${wallets.isEmpty()}">
        
        <a onclick="history.back()" href="#">Go back</a>
        
        <a href="/wallets/new" class="button">Create new wallet</a>
    
        <p class="medium center">
            It's empty here for now. Click the button and create a new wallet to get started.
        </p>
    </section>
  
    <section class="card content" th:if="${! wallets.isEmpty()}">
        
        <a onclick="history.back()" href="#">Go back</a>
        
        <h3>Amount in wallets</h3>
        <table>
            <tr th:each="item : ${sum}" class="money">
                <td th:text="${item.currency.toUpperCase()}">
                </td>
                <td th:text="${item.value}" class="right">
                </td>
            </tr>
        </table>
        
        <a href="/wallets/new" class="button">Create new wallet</a>
        <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="wallet : ${wallets}">
                <td>
                    <span th:text="${wallet.title}"></span>
                    <a th:href="'/wallets/' + ${wallet.id} + '/edit'" href="#">
                        <img class="text-ico" alt="Edit" th:src="@{/pen.svg}" src="#">
                    </a>
                </td>
                <td class="money right">
                    <div th:if="${wallet.values.size() == 0}">
                        Empty...
                    </div>
                    <div th:each="value : ${wallet.values}" th:text="${value.value} + ' ' + ${value.currency.toUpperCase()}"></div>
                    <a th:href="'/transfers?walletId=' + ${wallet.id}" href="#">Manage transfers</a>
                </td>
            </tr>
        </tbody>
      </table>
      
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

</body>

</html>