<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="index.html :: head"></head>

<body>
  <div th:replace="index.html :: header"></div>

  <main class="container">
    <section class="card content" th:if="${wallets.isEmpty()}">
        <a href="/wallets/new" class="button">Create new wallet</a>
    
        <p class="medium center">
            It's empty here for now. Click the button and create a new wallet to get started.
        </p>
    </section>
  
    <section class="card content" th:if="${! wallets.isEmpty()}">
        <a href="/wallets/new" class="button">Create new wallet</a>
        
        <b>Amount in wallets</b>
        <table>
            <tr th:each="item : ${sum}" class="money">
                <td th:text="${item.currency.toUpperCase()} + ': '">
                </td>
                <td th:text="${item.value}" class="right">
                </td>
            </tr>
        </table>
        
        
        <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Value</th>
            <th>Settings</th>
          </tr>
        </thead>
        <tbody>
            <tr th:each="wallet : ${wallets}">
                <td th:text="${wallet.title}">...</td>
                <td class="money right">
                    <div th:each="value : ${wallet.values}" th:text="${value.value} + ' ' + ${value.currency.toUpperCase()}"></div>
                </td>
                <td style="display: flex; gap: 1rem;">
                    <a class="button" th:href="'/transfers?walletId=' + ${wallet.id}" href="#">Transfers</a>
                    <a class="button" th:href="'/wallets/' + ${wallet.id}" href="#">Edit</a>
                </td>
            </tr>
        </tbody>
      </table>
      
    </section>
  </main>

  <div th:replace="index.html :: footer"></div>

</body>

</html>